

Show more





Conversation with Gemini

provide a html code that will accept ten inputs


HTML

<!DOCTYPE html>
<html>
<head>
  <title>Ten Input Form</title>
</head>
<body>

  <h1>Enter Ten Values</h1>

  <form>
    <label for="input1">Trip Distance:</label>
    <input type="text" id="input1" name="input1"><br><br>

    <label for="input2">Time of day:</label>
    <input type="text" id="input2" name="input2"><br><br>

    <label for="input3">Day of week:</label>
    <input type="text" id="input3" name="input3"><br><br>

    <label for="input4">Passenger count:</label>
    <input type="text" id="input4" name="input4"><br><br>

    <label for="input5">Traffic Conditions:</label>
    <input type="text" id="input5" name="input5"><br><br>

    <label for="input6">Weather:</label>
    <input type="text" id="input6" name="input6"><br><br>

    <label for="input7">Base Fare:</label>
    <input type="text" id="input7" name="input7"><br><br>

    <label for="input8">Per kilometer Rate:</label>
    <input type="text" id="input8" name="input8"><br><br>

    <label for="input9">Per Minute Rate:</label>
    <input type="text" id="input9" name="input9"><br><br>

    <label for="input10">Trip Duration Minutes:</label>
    <input type="text" id="input10" name="input10"><br><br>

    <input type="submit" value="Submit">
  </form>

</body>
</html>
